{% extends 'base.html.twig' %}

{% block title %}Hello music!{% endblock %}

{% block body %} 
    <h1> listes des muscis disponible </h1>

     <a href="{{ path('app_muscic_new') }}">Ajouter une musique </a>

 <ul>
    {% for music in musicsList %}
         <li>
                {{ music.name }} ({{ music.category.name }})
                <ul>
                    {% for tag in music.tags %}
                        <li>{{ tag.name }}</li>
                    {% endfor %}
                </ul>
            </li>

        <li>{{ music.auteur }} </li> 
    {% endfor %}
 </ul>
{% endblock %}
